In [9]:
 #1.	Difference between variable and constant? Create and import a constant, then print the values of constant

#Variable ==>can be changed
#constant ==>can't change
import os
pwd=os.getcwd()
print(pwd)

import Const
print(Const.EPSILON)

C:\Users\muddi
8.54

In [7]:
#2.	Convert a float to integer, then convert it to string. 

x=5.14
print(x)
y=int(x)
print(y)
str(y)

5.14
5

'5'

In [9]:
#2.Convert a list into a set. Convert a string into a list
list1=[1,2,3,4,5,67,88]
print(set(list1))
txt="hello !"
list(txt)

{1, 2, 3, 4, 5, 67, 88}

['h', 'e', 'l', 'l', 'o', ' ', '!']

In [27]:

#3.	Add an integer/float with a string using type casting
x = 34
y = 6.78
z = "12345"
a = x  + int (z)
print (a)
b = y  + int (z)
print (b)

12379
12351.78

In [35]:
#4.	Write a simple for loop to iterate through a string and break the iteration before the last iteration
i=0
for i in range(10):
    print(i)
    if i==8:
        break

0
1
2
3
4
5
6
7
8

In [36]:
#5.	Write a function to return the reminder of 2 numbers given through function arguments

def rem(x,y):
    return x%y

rem(7,2)

1

In [37]:
#6.	Add a docstring to above function and print the same
def rem(x,y):
    """ return remainder of 2 numbers"""
    return x%y

rem(7,2)
rem.__doc__

' return remainder of 2 numbers'

In [46]:
#7.	Write a function with one and 2 default arguments and print the same.
def greet(name,txt="hi"):
    print("Hello!",name,",",txt)

def greet_1(name,address="chennai",txt="hello"):
    print(txt,name,"!",address)
    
greet("Muthu")  
greet("Muthu","How are you?")
greet_1("Divya","Mumbai")

Hello! Muthu , hi
Hello! Muthu , How are you?
hello Divya ! Mumbai

In [ ]:
#8.	Can a non-default arg follow a default argument? Can two default args be mixed while calling a function? If we mix a default argument and positional argument, what is the constraint?
#No 
#2 default arguments can be mixed
#default argument should follow non-default / positional arg

In [49]:
#9.	Write a lambda function to add first to number, then divide the sum by third number. 
result=lambda x,y,z:(x+y)/z
result(1,2,3)

1.0

In [50]:
#10.	Create a list of first 20 numbers using a range function, then use a filter function to output the odd numbers

my_list=list(range(20))
result=list(filter(lambda x : x%2 !=0,my_list)) 
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [10]:
#11.	Create a list of 5 numbers and use a lambda function to square each number in a list

my_list=list(range(1,6))
result=list(map(lambda x : x**2 ,my_list))
print(result)

[1, 4, 9, 16, 25]

In [13]:
#12.	Use the ‘global’ keyword to modify a global variable of value ‘5’, then square it and print the output
x=5
def square(num):
    global x
    x=pow(x,2)
    print(x)
    
square(5)

25

In [26]:
#13.	 Perform list concatenation of 2 lists, then add one element in the beginning of the concatenated list and add 2 elements before the last element of the list
list1=[1,2,3]
list2=[7,8,9]
new_list=list1 + list2
print(new_list)
new_list.insert(0,10)
print(new_list)
new_list.insert(6,20)
new_list.insert(7,30)
print(new_list)

[1, 2, 3, 7, 8, 9]
[10, 1, 2, 3, 7, 8, 9]
[10, 1, 2, 3, 7, 8, 20, 30, 9]

In [30]:
#14.	Create a list 0 to 10 and remove all even numbers using ‘remove’ method (Use ‘for’ and ‘if)
list1=[]
for i in range(11):
    if i%2 !=0:
        list1.append(i)
print(list1)

[1, 3, 5, 7, 9]

In [33]:
#15.	Remove first 5 elements in a list of numbers 10 to 20 using list comprehension
lst = [x for x in range(10,21) if x>14]
lst

[15, 16, 17, 18, 19, 20]

In [37]:
#16.	If x = [‘Python ’, ‘R ’] and y = [‘Language’, ‘Programming], using list comprehension print the following: ['Python Language', 'Python Programming', 'R Language', 'R Programming']
result = [x+y for x in ['Python ','R '] for y in ['Language','Programming']]
result

['Python Language', 'Python Programming', 'R Language', 'R Programming']

In [39]:
#17.	Create a tuple (of 3 elements) without parenthesis and unpack each element. 
# Also create a tuple with just one value in it
tup=44,56,77
for e in tup:
    print(e)

    
tup1=88,
print(tup1)
type(tup1)

44
56
77
(88,)

tuple

In [41]:
#18.	Is there a way to change the elements of a tuple? Code an example
#Yes. If the elements of a tuple are mutable say list then those can be changed
tup = ("Hello",1,4,["Hi",78,9.7])
print(tup)
tup[3][1]=10
print(tup)

('Hello', 1, 4, ['Hi', 78, 9.7])
('Hello', 1, 4, ['Hi', 10, 9.7])

In [49]:
#19.	Using escape sequence, print the following: What’s up, guys! How’s it going?

print("""What’s up, guys! How’s it going?""")
print('What\'s up, guys! How\'s it going?')
print(r'What’s up, guys! How’s it going?')

What’s up, guys! How’s it going?
What's up, guys! How's it going?
What’s up, guys! How’s it going?

In [51]:
#20.	Can we use insert method in a set to modify? Explain why? 
# No.Insert method is used to add element at desired location using index.
#set is unordered collection of unique elements.so indexing has no meaning.