In [11]:
givenlist=(100,11,1010,1001)
declist={}
for i in range(0,len(givenlist)):
    ans=0
    num=givenlist[i]
    position=0
    while num>0:
        if num%10==1:
            ans=ans+pow(2,position)
        num=num//10   #num=int(num/10) 
        position+=1
    declist[givenlist[i]] = ans
print(declist)
for key,value in declist.items():
    if value%5==0:
        print(key)

{100: 4, 11: 3, 1010: 10, 1001: 9}
1010

In [10]:
0b0100,0b0011,0b1010,0b1001

(4, 3, 10, 9)

In [12]:
bin(25)

'0b11001'

In [12]:
oct(25)

'0o31'

In [35]:
#Divisible by 7 and not multiple of 5
lst=[]
for i in range(2000,3201):
    if i%7==0 and i%5!=0:            
            lst.append(i)           
print(lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [4]:
#Sequence of comma separated numbers as input and genearte list and a tuple 

n=input("Enter Values")
lst=n.split(',')
tup=tuple(lst)

print(lst)
print(tup)

Enter Values4,5,6,7,8
['4', '5', '6', '7', '8']
('4', '5', '6', '7', '8')

In [15]:

#Dictionary output for given integral value (n) from 1 to n with format (i:i*i)
n=int(input("Enter the value: "))
dict = {}
for i in range(1,(n+1),1):
    dict.update({i:(i*i)})
print(dict)

Enter the value: 9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [18]:
#List with square numbers from  1 to 20
n=int(input("Enter the value: "))
lst = []
for i in range(1,(n+1),1):
    lst.append(i*i)
print(lst)

Enter the value: 20
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [1]:
#First half values in one line and next half in one line
tup=(1,2,3,4,5,6,7,8,9,10)
count=int(len(tup)/2)
print(tup[:count:])
print(tup[count::])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

In [36]:
txt="Hello world!"
count=0
temp=0
for i in txt:

    if i.isupper()==True:
        #count+=count
        count+=1
    
    elif i.islower()==True:
        temp+=1
        
print("Upper Case:",count)
print("Lower Case:",temp)

Upper Case: 1
Lower Case: 9

In [21]:
txt="Hello world!"
count=0
temp=0
for i in txt:
    asciiVal=ord(i) 
    if (asciiVal>=65) & (asciiVal<=90):        
        count+=1
    
    elif (asciiVal>=97) & (asciiVal<=122):
        temp+=1
        
print("Upper Case:",count)
print("Lower Case:",temp)

Upper Case: 1
Lower Case: 9

In [6]:
#Filter function in a list
p=[23,2,0,'welcome','',{}]
print(list(filter(bool,p)))

[23, 2, 'welcome']

In [15]:
print(hex(25))

0x19