In [20]:
from threading import *
import time

class Process1(Thread):
    def run(self):
        list1=[]
        for i in range(1,20):
            if i/2==0:
                print(i)
                time.sleep(0.2)
                
class Process2(Thread):
    def run(self):
        list2=[]
        for i in range(1,20):
            if i/2 !=0:
                print(i)
                time.sleep(0.2)

print(time.time()) 

one=Process1()
one.start()

two=Process2()
two.start()

one.join()
two.join()

print("hello")

1552193179.2321293
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
hello

In [22]:
import re
pattern=re.compile("Not python core")
type(pattern)
pattern

re.compile(r'Not python core', re.UNICODE)

In [27]:
import re

txt="""I was driving without licence. police asked me license. I said i forget my license"""
pattern=re.compile("licen[cs]e")
print(pattern.findall(txt))
pattern=re.compile("[^aeiou]")
print("".join(pattern.findall(txt)))

['licence', 'license', 'license']
I ws drvng wtht lcnc. plc skd m lcns. I sd  frgt my lcns

In [46]:
with open("D:\\Data Science\\DS.txt",mode='r',encoding="utf-8") as f:        
    for l in f:
        #print(l)
        pattern=re.compile('[^a-z A-Z]*')  # remove alphabets and whitespace
        a=pattern.findall(l)
        output="".join(a)
        print(output)
    f.close()

3.7.21)2)3)4)5)6)7)8)9)10)

In [47]:
import sqlite3

con = sqlite3.connect('emp.db')  #Create DB . this file will work as  
print("DB opened")

DB opened

In [76]:
con.execute("""create table emp(firstName,lastName,pay)""")
print("Table created")
con.execute("Insert into emp values('divya','T.K',50000)")
con.execute("Insert into emp values('naresh','Muthu',500000)") 
con.commit()
print("Close the connection")

Table created
Close the connection

In [82]:
con=sqlite3.connect('emp.db')

def fetchValueFromDB(con):
    cursor = con.execute("SELECT *FROM emp")
    for row in cursor:
        print("first name: ",row[0])
        print("last name: ",row[1])
        print("pay: ",row[2], '\n')
        
fetchValueFromDB(con)

first name:  divya
last name:  T.K
pay:  50000

first name:  naresh
last name:  Muthu
pay:  500000

In [79]:
import pandas as pd
import sqlite3 as sql

connection=sql.connect('emp.db')

query="SELECT * FROM emp"

dr=pd.read_sql_query(query,connection)
dr.head()

  firstName lastName     pay
0     divya      T.K   50000
1    naresh    Muthu  500000

In [83]:
# Write a program to display the output of notepad as a table

import sqlite3

con = sqlite3.connect('notepad.db') 

with open("D:\\Data Science\\DS.txt",mode='r',encoding="utf-8") as f:        
    for l in f:
        #print(l)
        pattern=re.compile('[^a-z A-Z]*')  # remove alphabets and whitespace
        a=pattern.findall(l)
        output="".join(a)
        print(output)
        con.execute("Insert into notepad values(\' "+ output + " \')
    f.close()

SyntaxError: EOL while scanning string literal (<ipython-input-83-6790e34bd6e3>, line 14)